<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
<title>List of Publishers</title>

</head>
<body class="d-flex flex-column h-100">

	<div th:replace="~{fragments/header :: header}"></div>
	
		<div class="container">
		
		<div th:switch="${publishers}">
		
			<p> <a href="/add-publisher" class="btn btn-success mb-2"> Add publisher </a> </p>
			<h2 th:case="null">No publisher found !!</h2>
			<table th:case="*" class="table">
				<thead class="table-light">
					<tr>
						<th scope="col">#</th>
						<th scope="col">Publisher Name</th>
						<th scope="col">Edit</th>
						<th scope="col">Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="publisher, state : ${publishers}">
						<td th:text="${state.count}"></td>
						<td th:text="${publisher.name}"></td>
						<td> <a th:href="@{/update-publisher/{id}(id=${publisher.id})}" class="btn btn-warning btn-sm text-white">Update</a> </td>
						<td> <a th:href="@{/remove-publisher/{id}(id=${publisher.id})}" class="btn btn-danger btn-sm text-white">Delete</a> </td>
					</tr>
				</tbody>
			</table>
		</div>
		</div>

	<div th:replace="~{fragments/header :: footer}"></div>


</body>
</html>